<!--
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

   
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

   
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
-->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
    </ng-container>


    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef> Updated Date </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="photos">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> <img style="cursor:pointer" (click)="addProductImages(element.id)" src="../../../../../assets/photo.png" width="25" height="25" /> </td>
    </ng-container>

    <ng-container matColumnDef="qrcode">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> <img style="cursor:pointer"  src="../../../../../assets/qrcode.png" width="25" height="25" (click)="showQRCode(element.id)" /> </td>
    </ng-container>

    <!-- style="cursor:pointer"  == butonun üstüne geldiğimde el çıkması -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> <img style="cursor:pointer" src="../../../../../assets/edit.png" width="25" height="25" /> </td>
    </ng-container>

    <!--
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>  </th>
  <td mat-cell *matCellDef="let element"> <img src="../../../../../assets/delete.png" width="25" height="25" (click)="delete(element.id, $event)" /> </td>
  </ng-container>
  -->

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>  </th> <!--appDelete= silme işlemi için directiv yapısı: çağırıyoruz-->
      <td mat-cell *matCellDef="let element"
          appDelete
          [id]="element.id"
          (callback)="getProducts()"
          controller="products">
        <!-- buradaki doğru çözüm : buradaki değeri ilgili .ts sayfasından çekmek. sonra aynı şekil input olarak delete.directive.ts ye gidecektir : gitmede değişim yok. : sadece buraya salt olarak yazmak çok doğru değil. : .ts dede bi enum olabilir benzeri bi yapıyla direk yazma yerine sonradan bakanın anlıyabileceği şekilde bırakılabilir. : ama şuanlık bu bizim işimizi global olarak göreceğinden böyle bıraktık burayı.-->
      </td>
      <!-- [id]="element.id"  == elementi bulundugu satırın başında sonunda heryerde kullanabiliriz.-->
      <!-- (callback)="getProducts" == tabloyu yenilememizi sağlayan func :: list.component.ts deydi = bu syafa üzerinden delete.directive de çağırabilmek için  delete.directivi oluşturduğum satırda bu methodu geri döndürüyorum. == output fonksiyonu deniyor buna'da -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- tablo altında sayfa değişikliklerinde bu methoda girer.-->
  <mat-paginator (page)="pageChanged()"
                 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


<!-- delete directive kullanmadan önce : silme  işlemini böyle yapıyorduk.
<ng-container matColumnDef="delete">
  <th mat-header-cell *matHeaderCellDef>  </th>
<td mat-cell *matCellDef="let element"> <img src="../../../../../assets/delete.png" width="25" height="25" (click)="delete(element.id, $event)" /> </td>
</ng-container>
-->

