<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        
            <div class="mb-3 mt-3">
              <label for="userName" class="form-label">Kullanıcı Adı</label>
              <input #txtUserNameOrEmail type="text" class="form-control" id="userName" placeholder="Kullanıcı Adı & Email">
              <div class="form-text invalid-feedback">***</div>
            </div>
            <div class="mb-2">
              <label for="password" class="form-label">Şifre</label>
              <input #txtPassword type="password" formControlName="password" class="form-control" placeholder="Şifre" id="password">
            </div>

            <div class="row">
              <div class="col-auto">
                <asl-google-signin-button></asl-google-signin-button>
              </div>
              <div class="col-auto">
                <img  src="../../../../assets/facebook.png" style="width: 30px; height: 30px; cursor: pointer;" (click)="facebookLogin()"/>
              </div>
            </div>
            

            <button type="submit" class="btn btn-primary mt-2" (click)="login(txtUserNameOrEmail.value, txtPassword.value)" >Giriş Yap</button>

            <a class="btn btn-secondary mt-2 ms-2" routerLink="/password-reset"> Şifremi Unuttum</a>
            <!-- routerLink="/password-reset" => başına slaş koymazsam bulundugu url/password-reset olurdu bizse başına slaş koyarak => localhost:4200/password-reset sayfasına yönlendiriyoruz böylece => / ile önündeki uzantıları görme köke git diyoruz.-->
    </div> 
    <div class="col-md-3"></div>
</div>
